@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}

.intro,
.services,
.feature,
.team,
.subscribe,
.feedback__body,
.footer__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
}


.page {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-header {
	padding-top: 29px;
}

.page-header-grey {
	background-color: #e0e0e0;
}

.header {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	width: 100%;
	max-width: 1249px;
	margin: 0 auto;
	min-height: 89px;
	background-color: #000000;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	list-style: none;
	padding: 0;
	margin: 0;	
	margin-left: -20px;
}

.menu-item {
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-height: 89px;
}

.menu-item:hover {
	background-color: #ff3f40;
}

.menu-link {
	display: flex;
	align-items: center;
	padding: 0 30px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.page-content {
	flex-grow: 1;
}

.page-intro-grey {
	background-color: #e0e0e0;
}

.intro {
	padding-top: 103px;
	padding-bottom: 94px;
}

.intro-content {
	position: relative;
    bottom: 11px;
	width: 617px;
	margin-bottom: 20px;
	margin-right: 75px;
}

.intro-heading {
	margin: 0;
	font-size: 60px;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 1.5px;
}

.intro-heading-style {
	letter-spacing: 6px;
	word-break: break-word;
	hyphens: auto;
}

.intro-text {
	max-width: 520px;
	margin-bottom: 51px;
	opacity: 0.7; 
}

.action-button {
	box-sizing: border-box;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 227px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

.action-button-red {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	background-color: #ff2d2d;
}

.intro-img {
	width: 551px;
	height: 356px;
	box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
}

.services {
	padding-top: 106px;
	padding-bottom: 53px;
	border-bottom: 1px solid #ececec;
}

.services-lead {
	flex: 1 1 502px;
	max-width: 502px;
	margin-bottom: 50px;
	margin-right: 50px;
}

.services-heading {
	position: relative;
    bottom: 5px;
	margin-bottom: 27px;
}

.services-text {
	margin-bottom: 51px;
}

.action-button-white {
	font-size: 15px;
	color: #ff3f40;
	background-color: #ffffff;
	border: 2px solid #ff3f40;
}

.services-blocks {
	flex: 1 1;
	max-width: 609px;
	display: flex;
	flex-wrap: wrap;
}

.service {
	flex: 1 1 288px;
	width: 288px;
	margin-bottom: 50px;
}

.service:nth-child(odd) {
	margin-right: 32px;
}

.service-heading {
	letter-spacing: 1.5px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 22px;
	margin-bottom: 10px;
}

.service-heading::before {
	display: block;
	width: 41px;
	height: 41px;
	margin-bottom: 23px;
}

.service-text {
	opacity: 0.7;
}

.service-heading-manage::before {
	content: url('../images/service-1.png');
}

.service-heading-ux::before {
	content: url('../images/service-2.png');
}

.service-heading-brand::before {
	content: url('../images/service-3.png');
}

.service-heading-anim::before {
	content: url('../images/service-4.png');
}